{% extends '::base.html.twig' %}

{% block title 'Christian Games' %}

{% block body %}
{#    {% for game in games %}
        <article>
            <section>
                <h3>
                    #}{#<a href="{{ path('event_show', {'id': event.id}) }}">{{ event.name }}</a>#}{#
                    {{ game.title }}
                </h3>

                <dl>
                    <dt>Description:</dt>
                    <dd>{{ game.description }}</dd>

                    <dt>Date of add:</dt>
                    <dd>{{ game.dateAdd | date('g:ia / l M j, Y') }}</dd>
                    
                </dl>
            </section>
        </article>
    {% endfor %}#}
    {{ grid(grid) }}
{% endblock %}